#main_container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 40px;
    background: aliceblue;
    align-items: flex-start;
}

#user_image {
    border-radius: 200px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

#user_image > div {
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
    font: bold 10pt/12pt sans-serif;
}

#user_image:hover > div {
    opacity: 1;
    visibility: visible;
}

#user_balance {
    padding: 5px;
    background: red;
    color: gold;
    border-radius: 5px;
    border: solid 2px gold;
    font: bold 15pt/15pt sans-serif;
    flex-grow: 1;
    text-align: center;
    white-space: nowrap;
}

#transfer_div {
    transition: right 0.5s, opacity 0.5s;
    position: fixed;
    right: 0;
    height: 100%;
    padding: 20px;
    border-left: solid 5px gold;
    background: rgba(0, 0, 0, 0.8);
    color: gold;
    z-index: 1;
}

#transfer_div.closed{
    opacity: 0;
    right: -100%;
}

#transfer_div > div {
    margin-top: 20px;
    justify-content: flex-start;
}

#transfer_div span {
    font: bold 15pt/15pt sans-serif;
    width: 175px;
}

#transfer_div input {
    margin-left: 10px;
}