body {
    overflow: hidden;
}

canvas {
    display: block;
}

#open_chat {
    transition: visibility 0.5s, opacity 0.5s;
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    position: fixed;
    left: 35px;
    bottom: 35px;
}

#open_chat > img {
    width: 70px;
    height: 70px;
}

#open_chat.closed {
    visibility: hidden;
    opacity: 0;
}

#main_messages {
    transition: opacity 0.5s, visibility 0.5s, background 0.5s;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    bottom: 20px;
    height: 300px;
    width: 300px;
    background: rgba(237, 250, 255, 0.8);
    border-radius: 10px;
    font: normal 10pt/12pt sans-serif;
    visibility: visible;
    opacity: 1;
}

#main_messages.closed {
    opacity: 0;
    visibility: hidden;
}

#all_messages {
    letter-spacing: 1px;
    overflow-y: auto;
    height: 100%;
    flex: 1 1 auto;
    padding: 5px;
    font-size: 11pt;
    line-height: 15pt;
}

#all_messages > div {
    white-space: pre-line;
    word-break: break-all;
    padding: 7px;
    border-bottom: solid 1px black;
    border-radius: 5px;
}

#all_messages .admin, #all_messages .moder {
    background: rgba(255, 0, 0, 0.8);
    color: white;
    font-weight: bold;
}

#all_messages .helper {
    background: rgba(50, 205, 50, 0.8);
    color: white;
    font-weight: bold;
}

#all_messages .gold {
    background: rgba(255, 215, 0, 0.8);
    color: black;
    font-weight: bold;
}

#all_messages .violet {
    background: rgba(148, 0, 211, 0.8);
    color: white;
    font-weight: bold;
}


#all_messages .admin .message {
    /*color: red;*/
}

#all_messages .icon {
    background-size: 17px 17px !important;
    width: 17px;
    height: 17px;
    float: left;
    margin-right: 2px;
    border-radius: 15px;
}

#all_messages .no_icon .icon {
    display: none;
}

#all_messages .admin .icon {
    background: url("../images/admin.png") #FFF;
}

#all_messages .moder .icon {
    background: url("../images/moder.png") #FFF;
}

#all_messages .verified .icon {
    background: url("../images/verified.png") #FFF;
}

#all_messages .pm_icon {
    display: none;
    border-radius: 20px;
    padding: 3px;
    font: bold 7pt/9pt sans-serif;
    color: white;
    background: blue;
    float: left;
    margin-right: 2px;
}

#all_messages .pm .pm_icon {
    display: block;
}


#all_messages .nick_name {
    transition: background 0.5s, color 0.5s;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    padding: 3px;
}

#all_messages .nick_name:hover {
    background: blue;
    color: white !important;
}

.div_message.hidden {
    display: none;
}

.div_message.highlighted .message {
    color: blue;
}

.game_message {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: solid 2px gold !important;
    border-top: solid 2px gold;
    border-left: solid 2px gold;
    border-right: solid 2px gold;
    background: red;
    color: gold;
    font: bold 12pt/12pt sans-serif;
}

.game_message > div {
    padding: 5px;
    border: dashed 1px gold;
}

.small_message {
    font: normal 9pt/11pt sans-serif;
}

#send_message {
    opacity: 0.5;
    border-radius: 10px;
    flex: 0 1 auto;
    background: white;
    bottom: 0;
    /*height: 40px;*/
    width: 100%;
}

#send_message > input {
    border: solid black 1px;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    padding: 5px 10px;
    font: normal 12pt/12pt sans-serif;
}

#chat_service {
    transition: opacity 0.5s, padding 0.5s, background 0.5s, color 0.5s;
    opacity: 1;
    font: bold 8pt/10pt sans-serif;
    background: lightseagreen;
    padding: 3px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

#chat_service:hover {
    color: white;
    background: red;
}

#chat_service.closed {
    opacity: 0;
    padding: 0;
}


#chat_settings {
    position: relative;
    background: lightseagreen;
    border-radius: 9px;
    border-bottom: solid 1px #13756b;
    padding: 3px;
    flex: 0 1 auto;
}

#close_chat {
    transition: background-color 0.5s;
    cursor: pointer;
    position: absolute;
    right: 4px;
    background: red;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 5px;
    padding: 4px;
    font: bold 13pt/10pt sans-serif;
}

#close_chat:hover {
    background: #cc0000;
}

#resize_chat {
    background: blue;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    cursor: row-resize;
    z-index: 1;
}

#coords {
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 10px;
    border-radius: 5px;
    border: solid 3px gold;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    cursor: pointer;
}

#coords.closed {
    visibility: hidden;
    opacity: 0;
}

#coords:active {
    cursor: move;
}

#coords > div:not(:last-child) {
    margin-bottom: 5px;
}

#coords .label {
    border-radius: 5px;
    border: solid 2px gold;
    color: gold;
    background: red;
    padding: 5px;
    font: bold 12pt/12pt sans-serif;
    width: 100px;
    text-align: center;
}

#coords .value {
    flex-grow: 1;
    margin-left: 10px;
    color: gold;
    font: bold 12pt/12pt sans-serif;
}

#close_info {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 20px;
    font: bold 12pt/12pt sans-serif;
    padding: 5px;
    background: red;
    color: gold;
    border: solid 1px gold;
    cursor: pointer;
}

#open_info {
    transition: opacity 0.5s, visibility 0.5s, background 0.5s;
    position: absolute;
    top: 50px;
    left: 10px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    background: #52a8c5;
}

#open_info img {
    width: 40px;
}

#open_info:hover {
    background: #6adbff;
}

#open_info.closed {
    visibility: hidden;
    opacity: 0;
}

#online_players {
    transition: opacity 0.5s, visibility 0.5s;
    white-space: nowrap;
    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    max-height: 80%;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    overflow: auto;
    color: white;
    border-radius: 5px;
}

#online_players.closed {
    opacity: 0;
    visibility: hidden;
}

#online_players .total_players {
    background: rgba(255, 0, 0, 0.8);
    color: gold;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.player_online {
    transition: background 0.5s, color 0.5s;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    /*background: rgba(0, 0, 0, 0.8);*/
    font: bold 13pt/15pt sans-serif;
    /*border-bottom: solid 1px rgba(0, 0, 0, 0.8);*/
}

.player_online:hover {
    background: rgba(255, 0, 0, 0.81);
    color: white !important;
}

#main_menu {
    transition: visibility 0.5s, opacity 0.5s;
    display: block;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    background: url("/src/images/logo.png") no-repeat fixed center, black;
    background-size: 30%;
    overflow: hidden;
    z-index: 10;
    opacity: 1;
    visibility: visible;
}

#main_menu.closed {
    opacity: 0;
    visibility: hidden;
}

#login > div:first-child {
    display: flex;
    flex-direction: row;
}

#login > div:first-child > div {
    margin: 5px;
    flex: 1 0 auto;
}

.rotate {
    transform: rotate(180deg);
}

.triangle {
    position: relative;
    /*cursor: pointer;*/
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

/*.triangle img {*/
/*    !*width: 150px;*!*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-left: solid 50px transparent;*/
/*    border-right: solid 50px transparent;*/
/*    border-bottom: solid 100px red;*/
/*}*/

.triangle svg {
    /*width: 150px;*/
}

.triangle svg polygon, .triangle svg path {
    animation-name: triangle;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes triangle {
    0% {
        stroke: rgba(255, 0, 0, 0.51);
    }
    50% {
        stroke: rgba(255, 215, 0, 0.5);
    }
    100% {
        stroke: rgba(255, 0, 0, 0.51);
    }
}

.triangle > .button_label {
    transition: visibility 0.5s, opacity 0.5s;
    /*visibility: hidden;*/
    /*opacity: 0;*/
    /*position: absolute;*/
    /*top: 35%;*/
    /*transform: translate(0, -50%);*/
    font: bold 20pt/20pt sans-serif;
    background: red;
    padding: 5px;
    border-radius: 5px;
    color: gold;
    border: solid 2px gold;
}

.triangle.left > div {
    /*left: 100%;*/
}

.triangle.right > div {
    /*right: 100%;*/
}

.triangle:hover > div {
    visibility: visible;
    opacity: 1;
}

#play_button {
    z-index: 1;
    color: red;
    font: bold 80pt/90pt 'Special Elite';
    -webkit-text-stroke: 3px black;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    letter-spacing: 10px;
    animation-name: play_button;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes play_button {
    0% {
        text-shadow: 0 0 13px red;
    }
    50% {
        text-shadow: 0 0 13px gold;
    }
    100% {
        text-shadow: 0 0 13px red;
    }
}

#servers_list {
    transition: bottom 0.5s, opacity 0.5s;
    position: absolute;
    left: 50%;
    bottom: -100%;
    border-radius: 15px;
    background: black;
    transform: translate(-50%, 0);
    /*height: 70%;*/
    padding: 35px 20px 20px;
    opacity: 0;
    overflow: hidden;
    z-index: 1;
}

#servers_list.show {
    bottom: 10px;
    opacity: 1;
}

#servers_list input {
    width: 200px;
}

#collapse_servers {
    transition: background 0.5s, color 0.5s;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    font: bold 20pt/20pt sans-serif;
    border-radius: 15px;
    color: gold;
    cursor: pointer;
    background: red;
}

#collapse_servers:hover {
    background: #cd0000;
    color: #cdaf00;
}

#servers_header {
    position: absolute;
    background: goldenrod;
    height: 30px;
    width: 100%;
    top: 0;
    left: 0;
}

#skin_preview {
    display: block;
    height: 150px;
    border-radius: 75px;
    border: solid 1px gold;
}

#skin_preview.closed {
    display: none;
}

#color_preview {
    margin-left: 10px;
    border-radius: 5px;
    font: bold 12pt/12pt sans-serif;
    padding: 5px;
    cursor: pointer;
    border-style: solid;
    border-width: 3px;
}

#exit_button {
    transition: top 0.5s;
    position: absolute;
    top: 100%;
    left: 0;
    display: block !important;
    width: 100%;
    padding: 10px !important;
    background: red;
    color: gold;
    font: bold 15pt/15pt sans-serif;
    text-align: center;
    border-radius: 5px;
    border: solid 2px #cd0000;
    cursor: pointer;
    z-index: 1;
}

#exit_button.closed {
    top: 0;
}

.user_sticker {
    transition: background 0.5s;
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    box-shadow: inset 0px 0px 5px black;
    cursor: pointer;
}

.user_sticker.selected {
    background: lightseagreen;
}

.user_sticker:hover {
    background: red;
}

.user_sticker:hover span {
    background: #cd0000;
}

.user_sticker img {
    width: 50px;
    border-radius: 25px;
    border: solid 1px gold;
}

.user_sticker span {
    transition: background 0.5s;
    flex: 1 1 auto;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
    color: gold;
    padding: 5px;
    margin-left: 10px;
    background: red;
    border-radius: 5px;
    border: dashed 1px gold;
}

.user_sticker .skin {
    border: solid 1px white;
    border-radius: 5px;
}

.user_actions {
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 1;
    visibility: visible;
    position: fixed;
    border-radius: 10px;
    border: solid 2px gold;
    background: black;
    top: 0;
    left: 0;
    overflow: hidden;
    font: bold 12pt/15pt sans-serif;
}

.user_actions.closed {
    opacity: 0;
    visibility: hidden;
}

.user_actions > div:first-child {
    background: red;
    cursor: default;
}


.user_actions > div {
    transition: background 0.5s;
    background: black;
    cursor: pointer;
    color: white;
    padding: 10px;
    text-align: center;
}

.user_actions > div:not(:first-child):hover {
    background: red;
}

#account_div .flex_row {
    background: ghostwhite;
    font: bold 12pt/12pt sans-serif;
    padding: 5px;
    border: solid 1px red;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

#account_div img {
    border-radius: 20px;
    width: 30px;
    border: solid 1px gold;
}

#account_div .flex_row > div, #add_balance_div > div {
    display: flex;
    align-items: center;
    padding: 5px;
}

#account_div .user_name {
    margin-left: 10px;
}

#add_balance_div .user_balance {
    transition: background 0.5s;
    border-radius: 5px 0 0 5px;
    background: gold;
    margin-left: 5px;
}

#add_balance_div #add_balance {
    transition: background 0.5s;
    background: lightseagreen;
    border-radius: 0 5px 5px 0;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#add_balance_div:hover .user_balance {
    background: #cdaa00;
}

#add_balance_div:hover #add_balance {
    background: #1c8078;
}


#select_nick {
    transition: opacity 0.5s, visibility 0.5s;
    background: black;
    position: absolute;
    top: 100%;
    width: 100%;
    color: gold;
    opacity: 1;
    visibility: visible;
    max-height: 200px;
    overflow: auto;
    border-radius: 5px;
}

#select_nick.closed {
    opacity: 0;
    visibility: hidden;
}

#select_nick .user_skin {
    transition: background 0.5s;
    background: darkmagenta;
    border-bottom: solid 1px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    font-size: 12pt;
}

#select_nick .user_skin:hover {
    background: red;
}

#select_nick .user_skin:hover .delete {
    background: #9b0000;
}

#select_nick .user_skin img {
    width: 25px;
    border-radius: 20px;
    border: solid 1px gold;
}

#select_nick .user_skin span:not(.delete) {
    margin-left: 5px;
    flex: 1 1 auto;
    text-align: center;
}

#select_nick span.delete {
    transition: background 0.5s;
    background: red;
    color: white;
    padding: 5px;
    border-radius: 10px;
    flex-grow: 0;
}

.h2 {
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    background: #9b0000;
    border-radius: 5px;
    color: ghostwhite;
}

.server {
    transition: background-color 0.5s, border 0.5s;
    background: red;
    border-radius: 5px;
    padding: 10px;
    color: gold;
    font-size: 14pt;
    font-weight: bold;
    border: solid 3px gold;
    cursor: pointer;
}

.server.selected {
    background: lightseagreen;
    border: solid 3px #1b8078;
}

#password_for_game, #clan_for_game {
    margin-left: 10px;
}

.label_input {
    background: red;
    color: gold;
    font: bold 12pt/12pt Sans-serif;
    text-align: center;
    border-radius: 5px;
    border: solid 2px gold;
    padding: 5px;
}

#into_game_button, #spectate_button {
    transition: text-shadow 0.5s;
    color: red;
    -webkit-text-stroke: 3px black;
    text-shadow: 0 0 20px red;
    font: bold 40pt/50pt 'Special Elite';
    cursor: pointer;
}

#into_game_button:hover, #spectate_button:hover {
    text-shadow: 0 0 20px gold;
}

#spectate_button {
    margin-left: 20px;
}

.for_user {
    transition: visibility 0.5s, opacity 0.5s;
    opacity: 1;
    visibility: visible;
}

.for_user.closed {
    opacity: 0;
    visibility: hidden;
}

#buttons_block {
    position: fixed;
    right: 10px;
    top: 50%;
    z-index: 10;
}

#buttons_block > div {
    transition: background 0.5s;
    background: #52a8c5;
    border-radius: 50px;
    padding: 5px;
    opacity: 0.8;
    cursor: pointer;
    margin-top: 10px;
}

#buttons_block > div:hover {
    background: #6adbff;
}

#buttons_block img {
    width: 40px;
    border-radius: 20px;
    cursor: pointer;
}


#settings_gear img {
    transition: transform 0.5s;
    transform: rotate(0deg);
}

#settings_gear:hover img {
    transform: rotate(180deg);
}

#game_settings {
    transition: right 0.5s, opacity 0.5s;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: gold;
    opacity: 1;
    z-index: 10;
    max-width: 400px;
    overflow: auto;
    border-left: solid 3px gold;
}

#game_settings.closed {
    right: -100%;
    opacity: 0;
}

#game_settings span {
    padding: 10px;
}

#game_settings .tumbler {
    margin-left: 10px;
}

#game_settings > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font: bold 12pt/12pt sans-serif;
    padding: 5px 0;
    border-bottom: solid 3px gold;
}

.label_settings {
    flex-grow: 1;
    max-width: 185px;
}

.select_color_input {
    display: none;
}

.select_color_span {
    padding: 5px !important;
    border-radius: 5px;
    border: solid 2px gold;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

#controller_view {
    transition: opacity 0.5s, visibility 0.5s;
    visibility: visible;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: bold 12pt/12pt sans-serif;
}

#controller_view.closed {
    visibility: hidden;
    opacity: 0;
}

#controller_view .flex_row {
    padding: 10px;
    margin: 10px;
    border: solid 3px red;
    border-radius: 5px;
}

.controller_button {
    color: gold;
    border-radius: 5px;
    border: solid 3px gold;
    padding: 5px;
    background: red;
}

.controller_description {
    color: white;
    margin-left: 10px;
    flex-grow: 1;
    text-align: right;
}

#top_players {
    position: fixed;
    right: 10px;
    top: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font: bold 10pt/10pt sans-serif;
}

#top_players > div {
    padding: 3px;
    margin: 3px;
    border: solid 1px gold;
    border-radius: 5px;
}

#top_players > div.current .nick, #top_players > div.current .mass {
    color: gold;
}

#top_players .number {
    border: solid 1px gold;
    border-radius: 20px;
    background: red;
    color: gold;
    width: 25px;
    text-align: center;
}

#top_players .nick {
    flex-grow: 1;
    font: bold 10pt/10pt sans-serif;
}

#top_players span {
    padding: 2px;
    margin: 0 3px;
}

#select_music {
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, 0.7);;
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
    border-radius: 5px;
    color: white;
    z-index: 11;
    display: flex;
    flex-direction: column;
}

#select_music.closed {
    opacity: 0;
    visibility: hidden;
}

#audio_href {
    margin-top: 10px;
}

#select_music audio {
    margin-top: 10px;
    opacity: 0.7;
    height: 40px;
}

#registration_div {
    display: flex;
    flex-direction: column;
    position: relative;
}


@keyframes box_shadow {
    0% {
        box-shadow: 0 0 10px red;
    }
    50% {
        box-shadow: 0 0 10px gold;
    }
    100% {
        box-shadow: 0 0 10px red;
    }
}


#show_account {
    transition: background 0.5s;
    background: #52a8c5;
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 10;
    border-radius: 25px;
    padding: 1px;
    animation-name: box_shadow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#show_account:hover {
    background: #6adbff;
}

#show_account > img {
    width: 50px;
    cursor: pointer;
}


#user_nicks {
    transition: right 0.5s;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    padding: 10px;
    z-index: 11;
    overflow: auto;
    border-left: solid 3px gold;
}

#user_nicks.closed {
    right: -100%;
}

.account_tag {
    transition: background 0.5s;
    background: rgba(255, 0, 0, 0.8);
    color: gold;
    padding: 5px;
    font: bold 12pt/12pt sans-serif;
    cursor: pointer;
}

.account_tag.selected {
    background: rgba(32, 178, 170, 0.8);
}

.account_tag:not(.selected):hover {
    background: rgba(255, 128, 117, 0.8);
}

#user_nicks .user_skin, #user_nicks .user_sticker {
    transition: background 0.5s;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-bottom: solid 3px gold;
    cursor: pointer;
}

#user_nicks .user_skin.selected, #user_nicks .user_sticker.selected {
    background: rgba(32, 178, 170, 0.8);
}

#user_nicks .user_skin:not(.selected):hover, #user_nicks .user_sticker:not(.selected):hover {
    background: rgba(255, 65, 68, 0.8);
}

#user_nicks img {
    width: 50px;
    border-radius: 25px;
}

#user_nicks .user_skin span:not(.delete), #user_nicks .user_sticker span {
    flex-grow: 1;
    text-align: center;
    padding: 5px;
    color: gold;
    border-radius: 5px;
    border: solid 2px gold;
    background: red;
    font: bold 18pt/18pt 'Caveat';
    margin-left: 10px;
    letter-spacing: 2px;
}

#user_nicks .user_skin .delete {
    padding: 5px;
    color: gold;
    background: red;
    border-radius: 5px;
    border: solid 2px gold;
    font: bold 12pt/12pt sans-serif;
    margin-left: 10px;
}

.star {
    transition: top 1s ease-out, left 1s ease-out;
    position: absolute;
    width: 70px;
}

#vk {
    z-index: 2;
    position: absolute;
    left: 25px;
    bottom: 25px;
    align-items: center;
}

#vk img {
    width: 50px;
    cursor: pointer;
}

#vk span {
    transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
    overflow: hidden;
    color: gold;
    font: bold 10pt/10pt sans-serif;
    max-width: 150px;
    padding: 5px;
    background: red;
    border-radius: 5px;
    border: solid 2px gold;
    margin-left: 10px;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
}

#vk img:hover + span {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}


#sandl {
    position: absolute;
    top: 25px;
    left: 50px;
    font: bold 35pt/35pt 'Special Elite';
    color: gold;
    cursor: pointer;
    z-index: 2;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    animation-name: play_button;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#main_buttons {
    transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
    position: absolute;
    top: 100px;
    left: 25px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    border: solid 3px gold;
    border-radius: 5px;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

#main_buttons.closed {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}

#main_buttons > div {
    cursor: pointer;
    transition: background 0.5s;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 3px gold;
}

#main_buttons > div:hover {
    background: rgba(255, 0, 0, 0.8);
}

#main_buttons > div > span {
    padding: 5px;
    background: red;
    color: gold;
    border-radius: 5px;
    border: dashed 2px gold;
    font: bold 20pt/20pt 'Caveat';
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main_buttons > div > span > img {
    width: 25px;
    margin-right: 10px;
}

#change_color {
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    padding: 13px;
    cursor: pointer;
    margin-right: 5px;
}


#admin_panel {
    transition: opacity 0.5s, visibility 0.5s;
    position: fixed;
    top: 50px;
    right: 200px;
    opacity: 1;
    visibility: visible;
    border-radius: 5px;
    border: solid 5px gold;
    overflow: hidden;
    color: gold;
}

#admin_panel.closed {
    opacity: 0;
    visibility: hidden;
}

.admin_tag {
    transition: background 0.5s;
    padding: 5px;
    font: bold 15pt/15pt sans-serif;
    color: gold;
    background: rgba(255, 0, 0, 0.8);
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
}

.admin_tag:hover {
    background: rgba(255, 128, 117, 0.8);
}

.admin_tag.selected {
    background: rgba(32, 178, 170, 0.8);
}

#admin_panel .player {
    cursor: pointer;
}

#report {
    font: bold 12pt/12pt sans-serif;
}

#report > div {
    margin-top: 10px;
}

#report .current {
    color: blue;
}

#report .target {
    color: red;
}

#players_for_admin span {
    padding: 5px;
    flex-grow: 1;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    font: bold 12pt/12pt sans-serif;
}

#players_for_admin .id {
    width: 50px;
}

#players_for_admin .nick {
    width: 150px;
}

#players_for_admin .data .nick {
    transition: background 0.5s, color 0.5s;
    cursor: pointer;
    border-radius: 5px;
}

#players_for_admin .data .nick:hover {
    background: red;
    color: white !important;
}

#players_for_admin .mass {
    width: 100px;
}

#players_for_admin .player {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    border-bottom: solid 2px gold;
}

#admin_panel_action {
    transition: visibility 0.5s, opacity 0.5s;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    border: solid 2px gold;
}

#admin_panel_action.closed {
    opacity: 0;
    visibility: hidden;
}

