* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    background: lightseagreen;
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: gold;
    border-radius: 10px;
}

canvas {
    display: block;
}

a, a:hover, a:active {
    color: #000 !important;
    text-decoration: none
}

button {
    cursor: pointer;
}

button, button:active, button:focus, input {
    outline: none;
    cursor: pointer;
}

.tumbler {
    width: 60px;
    height: 25px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.tumbler > input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.tumbler > input + div {
    transition: background 350ms;
    background: red;
    position: relative;
    width: 100%;
    height: 100%;
}

.tumbler > input:checked + div {
    background: #02c842 !important;
}

.tumbler > input + div > div {
    transition: left 350ms;
    position: absolute;
    background: aliceblue;
    left: 0;
    border-radius: 15px;
    height: 25px;
    width: 25px;
}

.tumbler > input:checked + div > div {
    left: 35px;
}

.flex_row {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}

.gold_input {
    background: gold;
    border: solid 2px red;
    border-radius: 5px;
    color: black;
    padding: 5px;
    font: bold 15pt sans-serif;
}

.gold_input.required {
    animation-name: gold_input;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes gold_input {
    0% {
        background: gold;
    }
    50% {
        background: #9b8300;
    }
    100% {
        background: gold;
    }
}

.button {
    transition: background 350ms, color 350ms;
    border-radius: 15px;
    padding: 5px 15px;
    font-weight: bold;
}

.button_primary {
    transition: background 350ms;
    border-radius: 15px;
    background: #eae006;
    padding: 5px 15px;
    color: black;
    font-weight: bold;
    border: solid 2px #a59b06;
}

.button_primary:hover {
    background: #c8be06;
}

.button_primary:active {
    background: #a59b06;
}

.button_green {
    background: #02c842;
    border: solid 2px #027d2b;
}

.button_green:hover {
    background: #02a53a;
}

.button_green:active {
    background: #027d2b;
}

#open_chat {
    transition: visibility 0.5s, opacity 0.5s;
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    position: fixed;
    left: 35px;
    bottom: 35px;
}

#open_chat > img {
    width: 70px;
    height: 70px;
}

#open_chat.closed {
    visibility: hidden;
    opacity: 0;
}

#main_messages {
    transition: opacity 0.5s, visibility 0.5s, background 0.5s;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    bottom: 20px;
    height: 300px;
    width: 300px;
    background: rgba(237, 250, 255, 0.9);
    border-radius: 10px;
    font: normal 10pt/12pt sans-serif;
    visibility: visible;
    opacity: 1;
}

#main_messages.closed {
    opacity: 0;
    visibility: hidden;
}

#all_messages {
    overflow-y: auto;
    height: 100%;
    flex: 1 1 auto;
    opacity: 0.5;
    padding: 5px;
    font-size: 10pt;
    line-height: 14pt;
}

#all_messages > div {
    padding: 7px;
    border-bottom: solid 1px black;
    border-radius: 5px;
}

#all_messages .admin {
    background: red;
    color: white;
    font-weight: bold;
}

#all_messages .admin .message {
    /*color: red;*/
}

#all_messages .icon {
    background-size: 17px 17px !important;
    width: 17px;
    height: 17px;
    float: left;
    margin-right: 2px;
    border-radius: 15px;
}

#all_messages .no_icon .icon {
    display: none;
}

#all_messages .admin .icon {
    background: url("../images/admin.png") #FFF;
}

#all_messages .verified .icon {
    background: url("../images/verefied.png") #FFF;
}

#all_messages .pm_icon {
    display: none;
    border-radius: 20px;
    padding: 3px;
    font: bold 7pt/9pt sans-serif;
    color: white;
    background: blue;
    float: left;
    margin-right: 2px;
}

#all_messages .pm .pm_icon {
    display: block;
}


#all_messages .nick_name {
    transition: background 0.5s, color 0.5s;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    padding: 3px;
}

#all_messages .nick_name:hover {
    background: blue;
    color: white !important;
}

.div_message.hidden {
    display: none;
}

.div_message.highlighted .message {
    color: blue;
}

.game_message {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: solid 2px gold !important;
    border-top: solid 2px gold;
    border-left: solid 2px gold;
    border-right: solid 2px gold;
    font-weight: bold;
    background: red;
    color: gold;
}

.game_message > div {
    padding: 5px;
    border: dashed 1px gold;
}

.small_message {
    font: normal 9pt/11pt sans-serif;
}

#send_message {
    opacity: 0.5;
    border-radius: 10px;
    flex: 0 1 auto;
    background: white;
    bottom: 0;
    /*height: 40px;*/
    width: 100%;
}

#send_message > input {
    border: solid black 1px;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    padding: 5px 10px;
    font: normal 12pt/12pt sans-serif;
}

#chat_service {
    transition: opacity 0.5s, padding 0.5s, background 0.5s, color 0.5s;
    opacity: 1;
    font: bold 8pt/10pt sans-serif;
    background: lightseagreen;
    padding: 3px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

#chat_service:hover {
    color: white;
    background: red;
}

#chat_service.closed {
    opacity: 0;
    padding: 0;
}

.row {
    display: block;
    position: relative;
    width: 100%;
    padding: 5px;
}


#chat_settings {
    position: relative;
    background: lightseagreen;
    border-radius: 9px;
    border-bottom: solid 1px #13756b;
    padding: 3px;
    flex: 0 1 auto;
}

#close_chat {
    transition: background-color 0.5s;
    cursor: pointer;
    position: absolute;
    right: 4px;
    background: red;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 5px;
    padding: 4px;
    font: bold 13pt/10pt sans-serif;
}

#close_chat:hover {
    background: #cc0000;
}

#resize_chat {
    background: blue;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    cursor: row-resize;
    z-index: 1;
}

#coords {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);;
    border-radius: 15px;
    border: solid 1px black;
    background: rgba(185, 185, 185, 0.55);
}

#ping {
    position: absolute;
    top: 50px;
    left: 50px;
    border: solid 1px black;
    color: red;
    padding: 5px;
    border-radius: 20px;
}

#online_players {
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 0.7;
    visibility: visible;
    background: black;
    position: fixed;
    max-height: 80%;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    overflow: auto;
    color: white;
    border-radius: 5px;
}

#online_players.closed {
    opacity: 0;
    visibility: hidden;
}

#online_players .total_players {
    background: red;
    color: gold;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.player_online {
    transition: background 0.5s, color 0.5s;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background: black;
    font: bold 13pt/15pt sans-serif;
    border-bottom: solid 1px black;
}

.player_online:hover {
    background: red;
    color: white !important;
}

#main_menu {
    transition: visibility 0.5s, opacity 0.5s;
    display: block;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    background: url("/src/images/logo.png") no-repeat fixed center,
    url("/src/images/background.jpg") no-repeat fixed center;
    background-size: 30%, 100% 100%;
    overflow: hidden;
    z-index: 10;
    opacity: 1;
    visibility: visible;
}

#main_menu.closed {
    opacity: 0;
    visibility: hidden;
}

#login > div:first-child {
    display: flex;
    flex-direction: row;
}

#login > div:first-child > div {
    margin: 5px;
    flex: 1 0 auto;
}

.red_input {
    transition: border 0.5s;
    border-radius: 15px;
    border: solid 2px #cc0000;
    padding: 5px 10px;
    font: normal 12pt/12pt sans-serif;
}

.red_input:focus {
    border: solid 2px red !important;
}


.triangle {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: lightseagreen;
    border-radius: 5px;
    border: solid 1px gold;
    padding: 5px;
}

/*.triangle img {*/
/*    !*width: 150px;*!*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-left: solid 50px transparent;*/
/*    border-right: solid 50px transparent;*/
/*    border-bottom: solid 100px red;*/
/*}*/

.triangle svg {
    /*width: 150px;*/
}

.triangle svg polygon {
    animation-name: triangle;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes triangle {
    0% {
        stroke: rgba(0, 0, 0, 0.5);
    }
    50% {
        stroke: rgba(255, 215, 0, 0.5);
    }
    100% {
        stroke: rgba(0, 0, 0, 0.5);
    }
}

.triangle > .button_label {
    transition: visibility 0.5s, opacity 0.5s;
    /*visibility: hidden;*/
    /*opacity: 0;*/
    /*position: absolute;*/
    /*top: 35%;*/
    /*transform: translate(0, -50%);*/
    font: bold 20pt/20pt sans-serif;
    background: red;
    padding: 5px;
    border-radius: 5px;
    color: gold;
    border: solid 2px gold;
}

.triangle.left > div {
    /*left: 100%;*/
}

.triangle.right > div {
    /*right: 100%;*/
}

.triangle:hover > div {
    visibility: visible;
    opacity: 1;
}

#play_button {
    color: red;
    font: bold 80pt/90pt 'Special Elite';
    -webkit-text-stroke: 3px black;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    letter-spacing: 10px;
    animation-name: play_button;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes play_button {
    0% {
        text-shadow: 0 0 13px red;
    }
    50% {
        text-shadow: 0 0 13px gold;
    }
    100% {
        text-shadow: 0 0 13px red;
    }
}

#servers_list {
    transition: bottom 0.5s, opacity 0.5s;
    position: absolute;
    left: 50%;
    bottom: -100%;
    border-radius: 15px;
    background: black;
    transform: translate(-50%, 0);
    /*height: 70%;*/
    padding: 35px 20px 20px;
    opacity: 0;
    overflow: hidden;
}

#servers_list.show {
    bottom: 10px;
    opacity: 1;
}

#servers_list input {
    width: 200px;
}

#collapse_servers {
    transition: background 0.5s, color 0.5s;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    font: bold 20pt/20pt sans-serif;
    border-radius: 15px;
    color: gold;
    cursor: pointer;
    background: red;
}

#collapse_servers:hover {
    background: #cd0000;
    color: #cdaf00;
}

#servers_header {
    position: absolute;
    background: goldenrod;
    height: 30px;
    width: 100%;
    top: 0;
    left: 0;
}

#skin_preview {
    display: block;
    height: 150px;
    border-radius: 75px;
    border: solid 1px gold;
}

#skin_preview.closed {
    display: none;
}

#color_preview {
    margin-left: 10px;
    border-radius: 5px;
    font: bold 12pt/12pt sans-serif;
    padding: 5px;
    cursor: pointer;
    border: solid 1px gold;
}

#user_account {
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 1;
    visibility: visible;
    position: fixed;
    bottom: 0;
    right: 0;
    background: black;
    z-index: 11;
    border-radius: 5px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    color: gold;
    white-space: nowrap;
    text-align: center;
    cursor: default;
    max-height: 500px;
}

#user_account.closed {
    opacity: 0;
    visibility: hidden;;
}

#user_account h3 {
    background: red;
    border-bottom: solid 1px black;
    box-shadow: inset 0 0 5px black;
}

#exit_button {
    transition: top 0.5s;
    position: absolute;
    top: 100%;
    left: 0;
    display: block !important;
    width: 100%;
    padding: 10px !important;
    background: red;
    color: gold;
    font: bold 15pt/15pt sans-serif;
    text-align: center;
    border-radius: 5px;
    border: solid 2px #cd0000;
    cursor: pointer;
    z-index: 1;
}

#exit_button.closed {
    top: 0;
}

#all_skins .user_skin, .user_sticker {
    transition: background 0.5s;
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    box-shadow: inset 0px 0px 5px black;
    cursor: pointer;
}

#all_skins .user_skin.selected, .user_sticker.selected {
    background: lightseagreen;
}

#all_skins .user_skin:not(.selected):hover, .user_sticker:hover {
    background: red;
}

#all_skins .user_skin:not(.selected):hover .delete {
    background: #9b0000;
}

#all_skins .html:not(.local):not(:empty) {
    border-bottom: solid 2px gold;
}

#all_skins .user_skin:not(.selected):hover span, .user_sticker:hover span {
    background: #cd0000;
}

#all_skins .user_skin img, .user_sticker img {
    width: 50px;
    border-radius: 25px;
    border: solid 1px gold;
}

#all_skins .user_skin span, .user_sticker span {
    transition: background 0.5s;
    flex: 1 1 auto;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
    color: gold;
    padding: 5px;
    margin-left: 10px;
    background: red;
    border-radius: 5px;
    border: dashed 1px gold;
}

#all_skins .user_skin .skin, .user_sticker .skin {
    border: solid 1px white;
    border-radius: 5px;
}

.user_actions {
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 1;
    visibility: visible;
    position: fixed;
    border-radius: 10px;
    background: black;
    top: 0;
    left: 0;
    overflow: hidden;
    font: bold 12pt/15pt sans-serif;
}

.user_actions.closed {
    opacity: 0;
    visibility: hidden;
}

.user_actions > div:first-child {
    background: red;
    cursor: default;
}


.user_actions > div {
    transition: background 0.5s;
    background: black;
    cursor: pointer;
    color: white;
    padding: 10px;
    text-align: center;
}

.user_actions > div:not(:first-child):hover {
    background: red;
}

#account_div .flex_row {
    background: ghostwhite;
    font: bold 12pt/12pt sans-serif;
    padding: 5px;
    border: solid 1px red;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

#account_div img {
    border-radius: 20px;
    width: 30px;
    border: solid 1px gold;
}

#account_div .flex_row > div, #add_balance_div > div {
    display: flex;
    align-items: center;
    padding: 5px;
}

#account_div .user_name {
    margin-left: 10px;
}

#add_balance_div .user_balance {
    transition: background 0.5s;
    border-radius: 5px 0 0 5px;
    background: gold;
    margin-left: 5px;
}

#add_balance_div #add_balance {
    transition: background 0.5s;
    background: lightseagreen;
    border-radius: 0 5px 5px 0;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#add_balance_div:hover .user_balance {
    background: #cdaa00;
}

#add_balance_div:hover #add_balance {
    background: #1c8078;
}


#select_nick {
    transition: opacity 0.5s, visibility 0.5s;
    background: black;
    position: absolute;
    top: 100%;
    width: 100%;
    color: gold;
    opacity: 1;
    visibility: visible;
    max-height: 200px;
    overflow: auto;
    border-radius: 5px;
}

#select_nick.closed {
    opacity: 0;
    visibility: hidden;
}

#select_nick .user_skin {
    transition: background 0.5s;
    background: darkmagenta;
    border-bottom: solid 1px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    font-size: 12pt;
}

#select_nick .user_skin:hover {
    background: red;
}

#select_nick .user_skin:hover .delete {
    background: #9b0000;
}

#select_nick .user_skin img {
    width: 25px;
    border-radius: 20px;
    border: solid 1px gold;
}

#select_nick .user_skin span:not(.delete) {
    margin-left: 5px;
    flex: 1 1 auto;
    text-align: center;
}

#all_skins span.delete, #select_nick span.delete {
    transition: background 0.5s;
    background: red;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.h2 {
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    background: #9b0000;
    border-radius: 5px;
    color: ghostwhite;
}

.server {
    transition: background-color 0.5s, border 0.5s;
    background: red;
    border-radius: 5px;
    padding: 10px;
    color: gold;
    font-size: 14pt;
    font-weight: bold;
    border: solid 3px gold;
    cursor: pointer;
}

.server.selected {
    background: lightseagreen;
    border: solid 3px #1b8078;
}

#password_for_game {
    margin-left: 10px;
}

.label_input {
    background: red;
    color: gold;
    font: bold 12pt/12pt Sans-serif;
    text-align: center;
    border-radius: 5px;
    border: solid 2px gold;
    padding: 5px;
}

#into_game_button {
    transition: text-shadow 0.5s;
    color: red;
    -webkit-text-stroke: 3px black;
    text-shadow: 0 0 20px red;
    font: bold 40pt/50pt 'Special Elite';
    cursor: pointer;
}

#into_game_button:hover {
    text-shadow: 0 0 20px gold;
}

.for_user {
    transition: visibility 0.5s, opacity 0.5s;
    opacity: 1;
    visibility: visible;
}

.for_user.closed {
    opacity: 0;
    visibility: hidden;
}

#settings_gear {
    position: fixed;
    right: 10px;
    top: 50%;
    z-index: 10;
    background: #52a8c5;
    border-radius: 50px;
    padding: 5px;
    opacity: 0.8;
    cursor: pointer;
}

#settings_gear img {
    transition: transform 0.5s;
    width: 40px;
    transform: rotate(0deg);
    cursor: pointer;
}

#settings_gear:hover img {
    transform: rotate(180deg);
}

#game_settings {
    transition: right 0.5s, opacity 0.5s;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    height: 100%;
    background: aliceblue;
    opacity: 1;
    z-index: 10;
    max-width: 400px;
    overflow: auto;
}

#game_settings.closed {
    right: -100%;
    opacity: 0;
}

#game_settings span {
    padding: 10px;
}

#game_settings .tumbler{
    margin-left: 10px;
}

#game_settings > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font: bold 12pt/12pt sans-serif;
}

.label_settings {
    flex-grow: 1;
    max-width: 190px;
}

.select_color_input{
    display: none;
}

.select_color_span {
    padding: 5px !important;
    border-radius: 5px;
    border: solid 2px gold;
    cursor: pointer;
    width: 100px;
    text-align: center;
}