#main_block {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 5px;
    border: solid 3px gold;
    padding: 30px;
}

.user_skin {
    transition: background 0.5s, border 0.5s;
    padding: 10px;
    border-radius: 5px;
    border: solid 3px gold;
    text-align: center;
    color: gold;
    background: red;
    font: bold 12pt/12pt sans-serif;
    margin: 10px 0;
    cursor: pointer;
}

.user_skin.selected {
    background: lightseagreen;
    border: solid 3px #1b9e96;
}

.label_info {
    padding: 5px;
    color: gold;
    border-radius: 5px;
    border: solid 3px gold;
    font: bold 12pt/12pt sans-serif;
    background: red;
    margin-right: 10px;
}

#nick_info input {
    width: 200px;
}

#nick_info {
    padding: 10px;
    border-radius: 5px;
    border: solid 5px gold;
}

#nick_info > div:not(:first-child), #nick_info > button {
    margin-top: 10px;
}

#sum {
    padding: 5px;
    color: gold;
    background: red;
    font: bold 12pt/12pt sans-serif;
    border-radius: 5px;
    border: solid 2px gold;
    margin-right: 10px;
}

#remove_image_button {
    color: gold;
    border: solid 2px gold;
    background: red;
    margin-left: 10px;
}

#add_image_button{
    color: black;
    border: solid 2px #1e9e96;
    background: lightseagreen;
}

#remove_image_button, #add_image_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font: bold 20pt/14pt sans-serif;
    width: 30px;
    cursor: pointer;
    padding: 5px;
}