#main_block {
    position: absolute;
    top: 0;
    left: 51%;
    transform: translate(-50%, 0);
    background: aliceblue;
    border: solid 1px black;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

#create_new_stickers {
    border-radius: 15px;
    padding: 5px 15px;
    cursor: pointer;
}

#create_new_stickers > span {
    border-left: solid 1px black;
    padding-left: 15px;
}

#main_canvas > div {
    display: flex;
    flex-direction: row;
}

canvas {
    margin: 5px;
    flex: 0 1 auto;
    cursor: pointer;
}

.sticker_group, .sticker_set {
    transition: background 0.5s;
    padding: 5px;
    border-radius: 5px;
    background: gold;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 330px;
}

.sticker_group:hover, .sticker_set:hover {
    background: #c39f00;
}

.sticker_group.selected, .sticker_set.selected {
    background: lightseagreen;
}

.sticker_set {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sticker_set > img {
    height: 40px;
    margin-left: 5px;
    border-radius: 20px;
}

.sticker_set > div {
    white-space: pre-line;
    word-break: break-all;
    flex: 1 1 auto;
    font: bold 15pt/15pt sans-serif;
    padding: 0 15px;
}

.sticker_set span:not(.is_valid), #price_of_sticker {
    font-weight: bold;
    background: red;
    border-radius: 5px;
    color: gold;
}

#price_of_sticker {
    padding-right: 5px;
    padding-left: 5px;
}

.sticker_set span:not(.is_valid) {
    padding: 5px;
}

span.is_valid {
    padding: 10px;
    margin-left: 5px;
    border-radius: 20px;
}

span.is_valid.valid {
    background: #00ca00;
    border: solid 2px green;
}

span.is_valid.invalid {
    background: red;
    border: solid 2px #8e0000;
}

#price_of_sticker {
    padding: 5px;
}

#stickers_in_group {
    margin-left: 20px;
    padding: 15px;
    border-left: solid 2px black;
    white-space: nowrap;
}
